body {
	font-size: 20px;
	color: #ff0000;
	font-family: Calibri;
}

table {
	display: inline-block;
	vertical-align: top;
	border: 1px solid;
	border-collapse: collapse;
	color: #c0c0c0;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	color: #ff0000;
}

tr:hover {
	background-color: #ff8080
}