

* {
  box-sizing: border-box;
}

#container {
	width: 700px;
	height: auto;
	margin: 0 auto;
	float: center;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  height:150px;
  display: block
}

#myUl li:hover{
	background:#e5e5e5;
}

img {
  position: absolute;
  width: 25px;
  height: 25px;

}
a:link, a:visited {
  
   
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
	background-color: gray;
	
}



