a:link, a:visited {
	background-color: #ff80c0;
	color: white;
	text-align: center;
	text-decoration: none;
	border-radius:50px;
	display: inline-block;
}

a:hover, a:active {
	background-color: #ff8080;
}